@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1b0c27;
  --color-secondary: #d6a553;

  --color-accent: #10b981;
  --text-accent: #7c3aed;

  --color-base-200: #fdfdfd;
  --color-base-300: #f3f4f6;
}

.text-accent {
  @apply text-accent font-bold;
}
